/* span[role="img"]:hover {
    transform: scale(1.2); */
     /* Increase size on hover */
    /* transition: transform 0.3s ease;  */
    /* Smooth transition effect */
  /* } */
  /* .selected {
    transform: scale(1.2);  */
    /* Adjust the scale value as needed */
    /* transition: transform 0.3s ease; */
     /* Smooth transition effect */
  /* } */
    
  /* .mycontainer{
    background-color: #f1f2ec;
  } */